body {
    background-color: #E4DFDA;
}

button {
    display: inline;
    float: right;
}

footer {
    display: block;
    text-align: center;
    color:whitesmoke;
    background: rgb(6, 58, 58);
    opacity: 50%;
    padding: 15px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: black;
  }

#banner-img {
    background-color: #4281A4;
    /* background-image: url("assets/sunflowers.jpg"); */
    height: 70px;
    width: 85%;
    overflow: hidden;
    color: #E4DFDA;
    padding: 20px;
}

#search-input {
    padding: 6px;
    float:left;
    position: relative;
    vertical-align: top;
    margin-bottom: 15px;
    width: 80%;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

#search-btn {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#search-btn:hover {
    background: #ccc;
}

.city-state {
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    text-shadow: black;
    text-align: right;
    float: right;
}

#date {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}

.bkg-blue {
    background-color: #4281A4;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 3px;
}
#forecast-div {
    margin-left: 1px;
}

.section-head {
    background-color: #D4B483;
    color: #4281A4;
    margin-left: 10px;
}

.navbar {
    background-color: #c71585;
}

.navbar-brand {
    padding: 5px;
    font-size: 32px;
}

#remember-check {
    width: 20px;
}

.searchbox {
    background-color: #48A9A6;
    background-image: url("Assets/tahoe.jpg");
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
}

#search-bar-state {
    width: 50px;
}

#search-label {
    padding: 6px;
    color: #E4DFDA;
}

#today-stats {
    margin-top: 10px;
}

.uv-desc {
    font-size: 12px;
    text-align: right;
    padding-top: 15px;
}

.uv-low {
    background-color: green;
    color: white;
    padding: 6px;
    border-radius: 10px;
}

.uv-mod-lo {
    background-color: yellow;
    color: white;
    padding: 6px;
    border-radius: 10px;
}

.uv-mod-hi {
    background-color: orange;
    padding: 6px;
    color: white;
    border-radius: 10px;
}

.uv-severe-lo {
    background-color: red;
    color: white;
    padding: 6px;
    border-radius: 10px;
}

.uv-severe-hi {
    background-color: blueviolet;
    color: white;
    padding: 3px;
}
